<div class="panel">
    <div class="panel-heading">
        <h3>Cart</h3>
    </div>
    <div class="panel-body">
        <table class="table table-responsive table-striped">
            <thead>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr ng-repeat="product in getProducts()">
                    <td>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" ng-src="{{product.imageUrl}}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{product.title}}</h4>
                                <h5 class="media-heading text-muted">{{product.artist}}</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h5>{{product.price | currency}}</h5>
                    </td>
                    <td>
                        <input class="form-control" type="number," ng-model="product.quantity" ng-change="updateQuantity(product)" ng-model-options="{debounce: 500}">
                    </td>
                    <td>
                        <h5>{{product.quantity * product.price | currency}}</h5>
                    </td>
                    <td>
                        <button class="btn btn-link" style="color: #DC0004" ng-click="remove(product)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="checkout()">
                        <i class="glyphicon glyphicon-ok"></i> Checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-card" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add credit card</h4>
            </div>
            <div class="modal-body">
                <form name="cardForm">
                    <div class="form-group">
                        <label for="">Card number</label>
                        <input placeholder="Card number" type="number" ng-model="card.number" class="form-control" required>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9">
                            <label for="">Owner name</label>
                            <input placeholder="Owner name" type="text" ng-model="card.owner" class="form-control" required>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12" style="padding-left: 0">
                                <label for="">Security Code</label>
                                <input placeholder="Security Code" type="number" ng-model="card.securityCode" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="addCard()">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add
                </button>
            </div>
        </div>
    </div>
</div>